p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --mobile-logo-color: #ffffff;
  --main-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-text-color: rgba(157, 164, 189, 0.6);
  --hero-decription-color: #9da4bd;
  --main-text-color: #303030;
  --main-description-color: #555555;
  --button-border-color: #ff6c00;
  --workers-background-color: #f7f7f7;
  --accent-color: #ff6c00;
  --online-form-background: #191c26;
  --prices-line-color: rgba(157, 164, 189, 0.12);
  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Open-Sans", sans-serif;
  background-color: var(--main-background-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.main-button {
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: center;
  padding: 12px 20px;
  border: 1px solid var(--button-border-color);
  border-radius: 25px;
  background-color: initial;
}
.main-button--reversed {
  color: var(--hero-title-color);
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: var(--mobile-logo-color);
}

.logo__icon {
  fill: currentColor;
}

.page-header {
  background-image: url(../images/header-img-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 183px;
}

.page-header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.mobile-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--mobile-logo-color);
}

.mobile-header__icon {
  fill: currentColor;
}

.mobile-header__menu {
  position: absolute;
  display: none;
}

.hero__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--hero-text-color);
  text-transform: uppercase;
  text-align: left;
}
.hero__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--hero-text-color);
}

.hero__title {
  margin-bottom: 20px;
  font-size: 48px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--hero-title-color);
  text-transform: none;
  text-align: left;
}

.hero__description {
  width: 306px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--hero-decription-color);
  text-transform: none;
  text-align: left;
}

.about {
  padding: 84px 0;
}

.about__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: left;
}
.about__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.about__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  text-transform: none;
  text-align: left;
}

.about__reason {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--main-description-color);
  text-transform: none;
  text-align: left;
}

.about__description {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: var(--main-description-color);
  text-transform: none;
  text-align: left;
}

.services {
  background-image: url("../images/services-mobile.png");
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 0;
}

.services__text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--hero-text-color);
  text-transform: uppercase;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.services__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--hero-text-color);
}

.services__title {
  font-size: 42px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--hero-title-color);
  text-transform: none;
  text-align: left;
  margin-bottom: 44px;
}

.services__list {
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 360px;
  max-height: 30px;
  margin-bottom: 20px;
}
.price-list__item.price-list__item--last {
  margin-bottom: 0;
}
.price-list__item::after {
  display: block;
  content: "";
  width: auto;
  height: 1px;
  background-color: var(--prices-line-color);
  margin: 0 6px;
  flex-grow: 1;
}

.price-list__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.1428571429;
  letter-spacing: 0.02em;
  color: var(--hero-decription-color);
  text-transform: none;
  text-align: left;
}
.price-list__text--left {
  position: relative;
  z-index: 1;
}
.price-list__text--right {
  position: relative;
  z-index: 1;
  order: 1;
}

.reasons {
  padding: 84px 0;
}

.reasons__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: left;
}
.reasons__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.reasons__title {
  margin-bottom: 20px;
  font-size: 42px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  text-transform: none;
  text-align: left;
}

.reasons__description {
  margin-bottom: 44px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--main-description-color);
  text-transform: none;
  text-align: left;
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
}

.reasons__item {
  background-color: var(--workers-background-color);
  padding: 20px 15px;
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
  height: 133px;
  align-items: center;
  text-align: center;
}
.reasons__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}
.reasons__item--even {
  margin-right: 0px;
  transform: translateY(35px);
}

.reasons__number {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  text-transform: none;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.reasons__plus {
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-color);
}

.reasons__explanation {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  color: var(--main-text-color);
  text-transform: none;
  text-align: center;
}

.workers {
  padding: 84px 0;
  background-color: var(--workers-background-color);
}

.workers__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: left;
}
.workers__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.workers__title {
  font-size: 42px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  text-transform: none;
  text-align: left;
  margin-bottom: 20px;
}

.workers__text-content {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.workers__text-content--last {
  padding-bottom: 0;
}

.workers__image {
  display: block;
  width: 100%;
}

.workers__name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.workers__position {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  background-color: var(--main-background-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.soc-list__item:not(:first-child) {
  margin-left: 10px;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
  transition: color 250ms var(--main-animation);
}
.soc-list__link:hover, .soc-list__link:focus {
  color: var(--accent-color);
}

.soc-list__icon {
  fill: currentColor;
}

.work-process {
  padding: 84px 0;
}

.work-process__text {
  display: flex;
  align-items: baseline;
  margin-bottom: 44px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.9090909091;
  letter-spacing: 0.1em;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: left;
}
.work-process__text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.work-process__item:not(:last-child) {
  margin-bottom: 30px;
}

.work-process__img {
  display: block;
  width: 100%;
}

.online-form {
  padding: 84px 0;
  background-color: var(--online-form-background);
}

.record-form__title {
  margin-bottom: 44px;
  font-size: 42px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--hero-title-color);
  text-transform: none;
  text-align: center;
}

.record-form__content {
  width: 100%;
  position: relative;
  margin-bottom: 44px;
}

.record-form__label {
  top: 0;
  position: absolute;
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--hero-text-color);
  text-transform: uppercase;
  text-align: left;
  transition: transform 250ms var(--main-animation), color 250ms var(--main-animation);
}
.record-form__input:focus + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__comment-area:focus + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__input:not(:-moz-placeholder-shown) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__input:not(:-ms-input-placeholder) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__input:not(:placeholder-shown) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__comment-area:not(:-moz-placeholder-shown) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__comment-area:not(:-ms-input-placeholder) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}
.record-form__comment-area:not(:placeholder-shown) + .record-form__label {
  color: var(--hero-title-color);
  transform: translateY(-100%);
}

.record-form__input {
  width: 100%;
  height: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--hero-text-color);
  outline: none;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--hero-title-color);
  text-transform: none;
  text-align: left;
}
.record-form__input:hover, .record-form__input:focus {
  border-color: var(--main-background-color);
}

.record-form__comment-area {
  width: 100%;
  height: 76px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--hero-text-color);
  outline: none;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--hero-title-color);
  text-transform: none;
  text-align: left;
}
.record-form__comment-area:hover, .record-form__comment-area:focus {
  border-color: var(--main-background-color);
}

.record-form__button {
  padding-left: 38px;
  padding-right: 38px;
}

.footer-bckg {
  background-color: #191c26;
  background-image: url("../images/footer-bckg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */