.reasons {
  padding: 84px 0;
}
.reasons__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include font(11px, null, 600, 15px, 0.1em, var(--main-text-color), uppercase);
  &::before {
    @include line;
  }
}
.reasons__title {
  margin-bottom: 20px;
  @include font(42px, 'Raleway', 700, 49px, 0.05em, var(--main-text-color));
}
.reasons__description {
  margin-bottom: 44px;
  @include font(18px, null, 400, 30px, 0.02em, var(--main-description-color));
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
}
.reasons__item {
  background-color: var(--workers-background-color);
  padding: 20px 15px;
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
  height: 133px;
  align-items: center;
  text-align: center;
  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
  &--even {
    margin-right: 0px;
    transform: translateY(35px);
  }
}
.reasons__number {
  @include font(42px, null, 700, 57px, 0.05em, var(--main-text-color));
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
.reasons__plus {
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-color);
}
.reasons__explanation {
  @include font(11px, null, 600, 15px, null, var(--main-text-color), $ti: center);
}
