.reasons {
  padding: 84px 0;
}
.reasons__text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include font(11px, null, 600, 15px, 0.1em, var(--main-text-color), uppercase);
  &::before {
    @include line;
  }
}
.reasons__title {
  margin-bottom: 20px;
  @include font(42px, 'Raleway', 700, 49px, 0.05em, var(--main-text-color));
}
.reasons__description {
  margin-bottom: 44px;
  @include font(18px, null, 400, 30px, 0.02em, var(--main-description-color));
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -35px;
  margin-left: -30px;
}
.reasons__item {
  background-color: tomato;
  padding: 20px 35px;
  @include item(null, null, 30px, 30px, null, 2, 30px);
  width: 193px;
  height: 133px;
  align-items: center;
  text-align: center;
  &--even {
    margin-top: 79px;
    margin-left: 30px;
  }
}
