.services {
  background-image: url('../images/services-mobile.png');
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 0;
}
.services__text {
  @include font(11px, null, 600, 15px, 0.1em, var(--hero-text-color), uppercase);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &::before {
    @include line(var(--hero-text-color));
  }
}
.services__title {
  @include font(42px, 'Raleway', 700, 49px, 0.05em, var(--hero-title-color));
  margin-bottom: 44px;
}
.services__list {
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient((180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%));
}
.price-list__item {
  position: relative;
  z-index: 10;
  width: 360px;
  height: 30px;
  max-width: 360px;
  max-height: 30px;
  margin-bottom: 20px;
  // background-color: tomato;
  &.price-list__item--last {
    margin-bottom: 0;
  }
  &::after {
    position: absolute;
    bottom: 6%;
    left: -6px;
    display: block;
    @include line(var(--hero-text-color), null, $w: 100%, $m: 0 6px);
  }
}
.price-list__text {
  background-color: black;
  padding: 5px 6px;
  @include font(14px, null, 400, 30px, 0.02em, var(--hero-decription-color));
  &--left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    // width: 81.58%;
  }
  &--right {
    padding-right: 10px;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    // width: 18.42%;
  }
}
